/*
 * Show a horizontal menu if the screen is at least 768px wide. Show a hamburger menu if smaller
 * The hamburger menu is implemented with a checkbox.
 */
nav {
    display: none;
}

nav ul li {
    display: inline;
}

nav a {
  color: rgb(33, 33, 33);
  text-decoration: none;
  padding: 1em;
}

nav a.active {
  background-color: rgba(0, 0, 0, 0.08);
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 0.5em;
}

/* construct the hamburger symbol as one line
   and with ::before and ::after another one above and below */
.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}
.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* transform the hamburger icon to a cross if checked */
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* show the menu as overlay if checked */
.side-menu:checked ~ nav {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 56px;
    left: 0px;
    background: white;
    padding: 1em;
    border: 1px solid black;
    margin: 0.5em;
    max-width: calc(100% - 1em - 2em - 1px);
    max-height: calc(100% - 1em - 2em - 56px);
}

.side-menu:checked ~ nav ul {
    list-style-type: none;
    padding: 0;
}

.side-menu:checked ~ nav ul li {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin: 0rem;
}

.side-menu:checked ~ nav ul li a {
    display: block;
    padding: 1em;
    margin: 0;
}

@media (min-width: 768px) {
    nav {
        display: block
    }

    .hamb {
        display: none;
    }
}