@import "nav.css";
@import "elements.css";
@import "form.css";
@import "colors.css";
@import "spacing.css";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

main {
  flex: 1;
  max-width: 800px;
  padding: 30px 15px 30px 15px;
}

footer {
  border-top: 0.1rem solid #e8e8e8;
  padding: 30px 15px 30px 15px;
}