@import "nav.css";
@import "elements.css";
@import "form.css";
@import "colors.css";
@import "spacing.css";
@import "table.css";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
}

/* prevent image to overflow on small screens */
.logo {
    max-width: 100%;
    object-fit: contain;
}

main {
  flex: 1;
  max-width: 800px;
  padding: 30px 15px 30px 15px;
}

footer {
  border-top: 0.1rem solid #e8e8e8;
  padding: 30px 15px 30px 15px;
}

/* ensure wrapping is possible on large screens */
@media (min-width: 768px) {
    header {
        flex-wrap: wrap;
    }
}