{#include base}
{#if id }
<h2>Austauschmöglichkeit bearbeiten</h2>
{#else}
<h2>Neue Austauschmöglichkeit erfassen</h2>
{/if}


<p><a href="/austausch">zurück zur Übersicht</a></p>

{#if validationMessages.size > 0 }
<p class="red">Fehler beim ausfüllen des Formulars:</p>
<ul>
    {#for validationMessage in validationMessages}
    <li class="red">{validationMessage.fieldName()}: {validationMessage.message()}</li>
    {/for}
</ul>
{/if}

<form action="/austausch" method="post">
    <input type="hidden" name="id" value="{id}" />
    <strong>Organisation:</strong> <input type="text" name="organization" value="{organization}"><br>
    <strong>Organisationslink:</strong> <input type="text" name="organizationLink" value="{organizationLink}"><br>
    <strong>Beschreibung:</strong> <textarea id="summernote" name="description">{description}</textarea><br>
    <input type="submit" value="Senden">
</form>
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 400
        });
    });
</script>

{/include}