{#include base}
{#if id }
<h2>Volontariat bearbeiten</h2>
{#else}
<h2>Neues Volontariat eintragen</h2>
{/if}

<p><a href="/volontariat">zurück zur Übersicht</a></p>

{#if validationMessages.size > 0 }
<p class="red">Fehler beim ausfüllen des Formulars:</p>
<ul>
    {#for validationMessage in validationMessages}
    <li class="red">{validationMessage.fieldName()}: {validationMessage.message()}</li>
    {/for}
</ul>
{/if}

<form action="/volontariat" method="post">
    <input type="hidden" name="id" value="{id}" />
    <strong>Organisation:</strong> <input type="text" name="organization" value="{organization}"><br>
    <strong>Organisationslink:</strong> <input type="text" name="organizationLink" value="{organizationLink}"><br>
    <strong>Ort:</strong> <input type="text" name="location" value="{location}"><br>
    <strong>Beschreibung:</strong> <textarea rows="20" cols="80" name="description">{description}</textarea><br>
    <input type="submit" value="Senden">
</form>

{/include}