{#include base}

<h2>Anlass löschen</h2>

<p><a href="/anlaesse">zurück zur Übersicht</a></p>

{#event event showActions=false}{/event}

<p>Möchten sie obenstehenden Anlass wirklich löschen?</p>

<a href="/anlaesse">Nein</a>
<form action="/anlaesse/delete" method="post" class="inline-form">
    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"/>
    <input type="hidden" name="id" value="{event.id}"/>
    <button type="submit" class="margin-left">Ja</button>
</form>

{/include}