{#include base}

{#if id }
<h2>Anlass bearbeiten</h2>
{#else}
<h2>Neuen Anlass anlegen</h2>
{/if}

<p><a href="/anlaesse">zurück zur Übersicht</a></p>

{#if validationMessages.size > 0 }
    <p class="red">Fehler beim ausfüllen des Formulars:</p>
    <ul>
        {#for validationMessage in validationMessages}
            <li class="red">{validationMessage.fieldName()}: {validationMessage.message()}</li>
        {/for}
    </ul>
{/if}

<form action="/anlaesse" method="post">
    <input type="hidden" name="id" value="{id}" />
    <strong>Titel:</strong> <input type="text" name="title" value="{title}" required><br>
    <strong>Slug:</strong> <input type="text" name="slug" value="{slug}"> <img src="/img/question-mark.svg" style="height: 1em;" title="Der Slug wird für die Verlinkung verwendet. Er muss eindeutig sein. Ist dieser leer wird er automatisch aus dem Titel generiert."><br>
    <strong>Datum:</strong> <input type="text" name="date" value="{date}" required><br>
    <strong>Displaydate:</strong> <input type="date" name="displayDate" value="{displayDate}" required> <img src="/img/question-mark.svg" style="height: 1em;" title="Das Displaydate wird verwendet um alte Anlässe auszublenden (wird bis und an diesem Datum angezeigt) und der Sortierung."><br>
    <strong>Ort:</strong> <input type="text" name="location" value="{location}" required><br>
    <strong>Beschreibung:</strong> <textarea id="summernote" name="description" required>{description}</textarea><br>
    <input type="submit" value="Senden">
</form>
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 400,
            toolbar: [
                ["history", ["undo", "redo"]],
                ["style", ["style"]],
                ["font", ["bold", "italic", "underline", "fontname", "strikethrough", "superscript", "subscript", "clear"]],
                ["color", [, "color"]],
                ["paragraph", ["ul", "ol", "paragraph", "height"]],
                ["table", ["table"]],
                ["insert", ["link", "picture", "video"]],
                ["view", ["codeview"]], ]
        });
    });
</script>

{/include}