{#include base}
<h2>Datenschutzinformation</h2>

<h3>1. Grundsatz</h3>

Der Schutz Ihrer Privatsphäre ist uns ein wichtiges Anliegen. Mit der folgenden Datenschutzerklärung erläutern wir Ihnen,
welche Personendaten wir von Ihnen zu welchem Zweck bearbeiten, wenn Sie unsere Website besuchen.

<h3>2. Verantwortlicher</h3>

Bitte verwenden Sie für eine Kontaktaufnahme das <a href="/kontakt">Kontaktformular</a> auf der Webseite.

<h3>3. Bearbeitung von Personendaten</h3>

Wir bearbeiten diejenigen Personendaten, die Sie uns zur Verfügung stellen. In diesem Rahmen bearbeiten wir insbesondere Angaben,
die Sie uns selbst bei der Kontaktaufnahme (beispielsweise per Kontaktformular) respektive der Nutzung der Webseite übermitteln.

Namentlich werden Ihre Personendaten zu folgenden Zwecken bearbeitet:
<ul>
    <li>Beantworten von Kontaktanfragen</li>
</ul>

Wir bearbeiten keine besonders schützenswerten Personendaten.

<h2>4. Personendaten von Dritten</h2>

Sofern Sie Personendaten von Dritten an uns übermitteln, sind Sie verpflichtet, den Datenschutz gegenüber den Dritten zu gewährleisten
sowie die Richtigkeit der Personendaten sicherzustellen.

<h2>5. Bearbeitung von Personendaten durch Dritte</h2>

Wir können Personendaten durch beauftragte Dritte bearbeiten lassen oder gemeinsam mit Dritten sowie mit Hilfe von Dritten bearbeiten
oder an Dritte übermitteln. Bei den Dritten handelt es sich um Anbieter, deren Leistungen wir in Anspruch nehmen.
Wir gewährleisten auch bei solchen Dritten einen angemessenen Datenschutz.

Ihre Personendaten werden an folgende Personen übermittelt, einschliesslich solche im Ausland:
<table>
    <thead>
        <tr>
            <td>Empfänger und Ort</td>
            <td>Bemerkungen</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hosttech, Schweiz</td>
            <td>Webhosting</td>
        </tr>
        <tr>
            <td>Cyon, Schweiz</td>
            <td>Mailserver</td>
        </tr>
        <tr>
            <td>Github, USA</td>
            <td>Quellcode der Webseite, Erstellung von Issues</td>
        </tr>
    </tbody>
</table>

<h3>6. Datensicherheit</h3>

Wir treffen angemessene und geeignete technische und organisatorische Massnahmen, um den Datenschutz und insbesondere die
Datensicherheit zu gewährleisten.

<h3>7. Nutzung der Webseite (Cookies und Server-Logdateien)</h3>

Wir können Cookies für unsere Website verwenden. Sie ermöglichen insbesondere, Ihren Browser beim nächsten Besuch unserer Website
wiederzuerkennen und dadurch beispielsweise die Reichweite unserer Website zu messen.

Sie können Cookies in Ihren Browser-Einstellungen jederzeit ganz oder teilweise deaktivieren sowie löschen.

Wir können für jeden Zugriff auf unsere Website nachfolgende Angaben erfassen, sofern diese von Ihrem Browser an unsere
Server-Infrastruktur übermittelt werden oder von unserem Webserver ermittelt werden können:
Datum und Zeit einschliesslich Zeitzone, IP-Adresse, HTTP-Statuscode, Betriebssystem einschliesslich Benutzeroberfläche und Version,
Browser einschliesslich Sprache und Version, aufgerufene einzelne Unter-Seiten.

Wir speichern solche Angaben, die auch Personendaten darstellen können, in Server-Logdateien. Die Angaben sind erforderlich, um unser
Online-Angebot dauerhaft, nutzerfreundlich und zuverlässig bereitstellen sowie um die Datensicherheit und damit insbesondere den Schutz
von Personendaten sicherstellen zu können – auch durch Dritte oder mit Hilfe von Dritten.

<h3>8. Benachrichtigungen und Mitteilungen</h3>

Wir versenden Benachrichtigungen und Mitteilungen wie beispielsweise als Antwort auf eine Kontaktanfrage

Benachrichtigungen und Mitteilungen können Weblinks oder Zählpixel enthalten, die erfassen, ob eine Mitteilung geöffnet wurde
und welche Weblinks dabei angeklickt wurden. Solche Weblinks und Zählpixel können die Nutzung von Benachrichtigungen und
Mitteilungen auch personenbezogen erfassen. Wir benötigen diese statistische Erfassung der Nutzung für die Erfolgs- und Reichweitenmessung.

<h3>9. Schlussbestimmungen</h3>

Wir können diese Datenschutzerklärung jederzeit anpassen und ergänzen. Wir werden über solche Anpassungen und Ergänzungen in
geeigneter Form informieren, insbesondere durch Veröffentlichung der jeweils aktuellen Datenschutzerklärung auf unserer Website.

{/include}
