{#include base}
<h2>FGI - Fachgruppe International</h2>

<p>Die Fachgruppe International (FGI) des Cevi Schweiz betreibt diese Seite und führt ausgeschriebene <a href="anlaesse">Anlässe</a>
    aus diversen Quellen zusammen.</p>

<p>Untenstehend die Liste der Quellen</p>

Blogs:
<ul>
    <li><a href="https://www.cevi.ch/blog/tag/International/">Cevi Schweiz Blog International</a></li>
</ul>

Instagram:
<ul>
    <li><a href="https://www.instagram.com/ceviinternational/">Fachgruppe International Cevi Schweiz</a></li>
    <li><a href="https://www.instagram.com/ag_international_/">Cevi AG-SO-LU-ZG - AG International</a></li>
    <li><a href="https://www.instagram.com/esgymca/">YMCA Europe - ESG</a></li>

</ul>

Facebook:
<ul>
    <li><a href="https://www.facebook.com/Europeanywcas/">European YWCA</a></li>
    <li><a href="https://www.facebook.com/worldywca/">World YWCA</a></li>
    <li><a href="https://www.facebook.com/ymcas">World YMCA</a></li>
</ul>

Instagram:
<ul>
    <li><a href="https://www.instagram.com/european_ywca/">European YWCA</a></li>
    <li><a href="https://www.instagram.com/worldywca/">World YWCA</a></li>
    <li><a href="https://www.instagram.com/worldymca/">World YMCA</a></li>
</ul>

Twitter
<ul>
    <li><a href="https://twitter.com/YWCAeurope">YWCA Europe</a></li>
    <li><a href="https://twitter.com/worldywca">World YWCA</a></li>
    <li><a href="https://twitter.com/WorldYMCA">World YMCA</a></li>
</ul>

Webseiten:
<ul>
    <li><a href="https://www.ceviregionbern.ch/home/cevi-national-international/cevi-international/">Cevi Region Bern - International</a></li>
    <li><a href="https://www.cevizuerich.ch/angebote/armenien">Partnerschaft des Cevi Zürich mit YMCA Spitak (Armenien)</a></li>
    <li><a href="https://www.horyzon.ch/">Horyzon</a></li>
    <li><a href="https://www.europeanywca.org/">European YWCA</a></li>
    <li><a href="https://www.ymcaeurope.com/">YMCA Europe</a></li>
    <li><a href="https://www.ymcaeurope.com/esg">YMCA Europa - ESG Group</a></li>
    <li><a href="https://www.worldywca.org">World YWCA</a></li>
    <li><a href="https://www.ymca.int/">World YMCA</a></li>
</ul>

Newsletter:
<ul>
    <li><a href="https://db.cevi.ch/groups/2645/mailing_lists/1034">Cevi AG-SO-LU-ZG - AG International - Cevi.DB Newsletter</a></li>
    <li><a href="https://ymcaeurope.com/newsletters">YMCA Europe Newsletter</a></li>
    <li><a href="https://www.ymca.int/subscribe/">YMCA World Newsletter</a></li>
    <li><a href="https://www.worldywca.org/news-events/latest-news/">World YWCA Newsletter</a></li>
</ul>
{/include}
