{#include base}
<h2>Herzlich Willkommen {username}</h2>

<p>Auf dieser Seite versucht die Fachgruppe International des Cevi Schweiz ausgeschriebene <a href="anlaesse">Anlässe</a>
    aus diversen Quellen zusammenzuführen.</p>

<p>Untenstehend die Liste der Quellen</p>

Blogs:
<ul>
    <li><a href="https://www.cevi.ch/blog/tag/International/">Cevi Schweiz Blog International</a></li>
</ul>

Instagram:
<ul>
    <li><a href="https://www.instagram.com/ceviinternational/">Fachgruppe International Cevi Schweiz</a></li>
    <li><a href="https://www.instagram.com/ag_international_/">Cevi AG-SO-LU-ZG - AG International</a></li>
    <li><a href="https://www.instagram.com/esgymca/">YMCA Europe - ESG</a></li>

</ul>

Webseiten:
<ul>
    <li><a href="https://www.ceviregionbern.ch/home/cevi-national-international/cevi-international/">Cevi Region Bern - International</a></li>
    <li><a href="https://www.ymcaeurope.com/esg">YMCA Europa - ESG Group</a></li>
</ul>

Newsletter:
<ul>
    <li><a href="https://db.cevi.ch/groups/2645/mailing_lists/1034">Cevi AG-SO-LU-ZG - AG International - Cevi.DB Newsletter</a></li>
</ul>
{/include}
