<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>International</title>
  <link rel="stylesheet" href="css/site.css">
</head>
<body>
  <header>
    <a href="/"><img src="logo.png" height="50px" /></a>
    <nav>
      <a href="/anlaesse">Anlässe</a>
      <a href="/volontariat">Volontariat</a>
      <a href="/austausch">Austausch</a>
      <a href="/kontakt">Kontakt</a>
    </nav>
  </header>
  <main>
      {#insert}No body!{/}
  </main>
  <footer>
    Unterstützt durch <a href="cevihost.ch">cevihost.ch</a>
  </footer>
</body>
</html>
