{#include base}
<h2>Herzlich Willkommen</h2>

<p>Das Thema international ist breit gefächert und es gibt diverse Anlaufstellen. Ein Grossteil der Aufrufe/Werbung
wird jeweils im Cevi Schweiz Blog oder diversen Social Media Kanälen gestreut. Diese Seite versucht diese Informationen
    etwas zusammenzuführen.</p>

Primärquellen:
<ul>
    <li><a href="https://www.cevi.ch/blog/tag/International/">Cevi Schweiz Blog International</a></li>
    <li><a href="https://www.instagram.com/ceviinternational/">Fachgruppe International Cevi Schweiz - Instagram</a></li>
    <li><a href="https://www.ceviregionbern.ch/home/cevi-national-international/cevi-international/">Cevi Region Bern - International</a></li>
    <li><a href="https://www.instagram.com/ag_international_/">Cevi AG-SO-LU-ZG - AG International - Instagram</a></li>
    <li><a href="https://www.ymcaeurope.com/esg">YMCA Europa - ESG Group</a></li>

</ul>

{/include}