name: Build Branches

on:
  push:
    branches-ignore:
      - main

jobs:
  build_and_test:
    name: "Build and Test"
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'maven'
          
    - name: Build uber-jar
      run: ./mvnw package -Dquarkus.package.type=uber-jar

    - name: Archive jars
      uses: actions/upload-artifact@v5
      with:
        name: jars
        path: target/international-*-SNAPSHOT-runner.jar
